@import 'partials/reset';
@import 'partials/clearfix';
$main_gray_color: #777;
$main_font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

#architekt_header{
  font-size: 5em;
  color: $main_gray_color;
  font-family: $main_font;
  font-weight: bold;
  text-align: left;
  margin-top: 4%;
}
.architekt_div{
  width:75%;
}
.text_header{
  width: 25%;
}

a{
  text-decoration: none;
}
#bs_text{
  color: #999;
  text-align: right;
  font-family: $main_font;
  font-size: 12px;
  margin-right: 5%;
  border-left: dashed 1px #999;
  margin-top: 5%;
  line-height: 1.5;
  margin-left: 5%;
  padding-left: 5%;
}

.header_div{
  margin-top: 4%;
  display: flex;
  border-top: dashed 1px #999;
  margin-right: 10%;
  margin-left: 10%;
}

.big_pic_container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  img{
    max-width: 100%;
  }
}

.line_separator{
  margin-top: 5%;
  border-top: dashed 1px #777;
  margin-left: 10%;
  margin-right: 10%;
}

.create_button{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-family: $main_font;
  opacity: .85;
  padding-top: 5px;
  padding-bottom: 5px;
  width:10%;
  margin-top: 2%;
  margin-left: 45%;
  margin-right: 45%;
  background: $main_gray_color;
  border: 1px solid #0a5378;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  text-shadow:0px -1px 0px rgba(0,0,0,.5);
}
.create_button:hover {
  opacity: 1;
}

.thumbnail_row_div{
  display: flex;
  margin-left: 9%;
  margin-right: 6%;
  flex-wrap: wrap;
  margin-top: 5%;
  align-content: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.thumb_img{
  // max-width: 100%;
  min-height: 17em;
  max-height: 17em;
  max-width: 100%;
  min-width: 100%;
}

.thumbnail{
  width: 30%;
  margin-bottom: 2%;
  margin-right: 1%;
}

.thumbnail_desc{
  font-family: $main_font;
  color: $main_gray_color;
  text-align: center;
}

.single_pic_container{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single_pic_div{
  float: left;
  width:70%;
  display: block;
  text-align: center;
  img {
    max-width: 80%;
    max-height: 800px;
  }
}

.single_desc_div{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 20%;
  img{
    float: left;
    max-width: 4%;
    margin-left: 20%;
    opacity: 0.75;
    transition-duration: 1s;
  }
  img:hover{
    opacity: 1.0;
    transform: rotate(180deg);
  }
  img:active{
    transform: translateY(2px);
  }
}

.option_buttons{
  display: none;
  transition: transform 2s;
}

.option_buttons.show{
  float: left;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-bottom: 5%;
  a{
    margin-right: 5%;
  }
}

.button_styles{
  color: white;
  background-color: $main_gray_color;
  font-weight: lighter;
  font-family: $main_font;
  font-size: 22px;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0.65;
}

.button_styles:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_styles:active {
  transform: translateY(2px);
}

.sidebar_div{
  width: 25%;
  margin-right: 7%;
  img{
    min-width: 80%;
    min-height: 12em;
    max-height: 12em;
    margin-bottom: 5%;
    max-width: 80%;
  }
}

.form_container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-right:20%;
  margin-left:20%;
  form{
    margin: 5%;
    padding: 10px;
    width: 80%;
  }
  h1{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
  }
  .label{
    font-size: 25px;
    font-weight: lighter;
    margin-left: 15%;
  }
  input{
  display: block;
  font-size: 14px;
  width:240px;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
  opacity: 0.5;
  }
  input:hover,
  input:focus {
  opacity: .7;
  color:#08c;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
  }
  input[name="author"]:focus,
  input[name="link"]:focus,
  input[name="description"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
  }
  input[type="submit"] {
  appearance: none;
  opacity: .99;
  width:120px;
  background: #08c;
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 6px rgba(0,246,255,.5);
  border: 1px solid #0a5378;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  text-shadow:0px -1px 0px rgba(0,0,0,.5);
  margin-top: 8%;
  margin-left: 30%;
  }
  input[type="submit"]:hover {
  background: #08c;
  width:120px;
  border: 1px solid #0a5378;
  border-radius: 3px;
  box-shadow: inset 0px 3px 16px rgba(0,0,0,.25),0px 1px 10px rgba(255,255,255,.5),inset 0px -1px 2px rgba(255,255,255,.35);
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
  }
}

.footer_div{
  border-top: dashed $main_gray_color 1px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
    .vince_footer{
    float: left;
    width: 50%;
    border-right: dashed $main_gray_color 1px;
    margin-top: 1%;
    margin-bottom: 2%;
    a{
    text-decoration: none;
    }
  }
  .matt_footer{
    float: right;
    margin-top: 1%;
    margin-bottom: 2%;
    a{
      text-decoration: none;
    }
  }
}

body{
  color: $main_gray_color;
  font-family: $main_font;
}

#bio_head{
  text-align: left;
  margin-left: 16%;
  font-size: 30px;
  margin-top: 2%;
}

.bio_desc{
  text-align: left;
  margin-left: 16%;
  max-width: 70%;
}

#contact_head{
  margin-top: 2%;
  text-align: left;
  margin-left: 16%;
  font-size: 30px;
}

.contact_desc{
  text-align: left;
  margin-left: 16%;
  margin-bottom: 5%;
}

.404{
  font-size: 10em;
}

@media screen and (max-width: 915px){
  #bs_text{
    display: none;
  }
  .thumbnail_row_div{
    display: block;
    margin-left: 12%;
  }

  .thumb_img{
      min-height: 90%;
      max-height: 90%;
      max-width: 90%;
      min-width: 90%;
  }
  .thumbnail{
    width: 100%;
  }
  #architekt_header{
    font-size: 3em;
  }
  .big_pic_container{
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .create_button{
    font-size: 15px;
    padding-left:7px;
  }
  .sidebar_div{
    display: none;
  }
  .single_pic_div{
    width: 100%;
  }
}

@media screen and (min-device-width: 320px)
  and (max-device-width: 480px){
// @media (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait){

  #bs_text{
    display: none;
  }
  .thumbnail_row_div{
    display: block;
    margin-left: 12%;
  }

  .thumb_img{
      min-height: 90%;
      max-height: 90%;
      max-width: 90%;
      min-width: 90%;
  }
  .thumbnail{
    width: 100%;
  }
  #architekt_header{
    font-size: 8em;
  }
  .big_pic_container{
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .create_button{
    font-size: 15px;
    padding-left:7px;
  }
  .single_pic_div{
    width: 100%;
  }
  .sidebar_div{
    display: none;
  }
}