@import 'partials/reset';
@import 'partials/clearfix';
$main_gray_color: #777;
$main_font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

#architekt_header{
  font-size: 5em;
  color: $main_gray_color;
  font-family: $main_font;
  font-weight: bold;
  text-align: left;
  margin-top: 4%;
}
.architekt_div{
  width:75%;
}
.text_header{
  width: 25%;
}

a{
  text-decoration: none;
}
#bs_text{
  color: #999;
  text-align: right;
  font-family: $main_font;
  font-size: 12px;
  margin-right: 5%;
  border-left: dashed 1px #999;
  margin-top: 5%;
  line-height: 1.5;
  margin-left: 5%;
  padding-left: 5%;
}

.header_div{
  margin-top: 4%;
  display: flex;
  border-top: dashed 1px #999;
  margin-right: 15%;
  margin-left: 15%;
}

.big_pic_container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.line_separator{
  margin-top: 5%;
  border-top: dashed 1px #777;
  margin-left: 15%;
  margin-right: 15%;
}

.thumbnail_row_div{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: space-between;
  box-sizing: border-box;
}
.thumb_img{
  // max-width: 100%;
  min-height: 17em;
  max-height: 17em;
  max-width: 100%;
}

.thumbnail{
  width: 33%;
  margin-bottom: 2%;
}

.thumbnail_desc{
  font-family: $main_font;
  color: $main_gray_color;
  text-align: center;
}

.single_pic_container{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single_pic_div{
  float: left;
  width:70%;
  display: block;
  text-align: center;
  img {
    max-width: 80%;
  }
}

.single_desc_div{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 20%;
  img{
    float: left;
    max-width: 4%;
    margin-left: 20%;
    opacity: 0.75;
  }
  img:hover{
    opacity: 1.0;
  }
  img:active{
    transform: translateY(2px);
  }
}

.option_buttons{
  float: left;
  display: inline-block;
  margin-left: 15%;
}

.sidebar_div{
  width: 25%;
  margin-right: 7%;

  img{
    min-width: 100%;
    min-height: 12em;
    max-height: 12em;
    margin-bottom: 5%;
    max-width: 100%;
  }

}

body{
  color: $main_gray_color;
  font-family: $main_font;
}