if logged_in
  .user_header
    p.guest_message Welcome back, #{user.username}
    a(class='my_posts_link' href='/user/#{user.id}/gallery')
      .my_posts_button My Posts
    a(class='logout_link' href='/user/logout')
      .logout_button Logout
else
  .user_header
    p.guest_message Welcome!
    a(class ='login_link' href='/user/login')
      .log_in_button Log-In
    a(class='register_link' href='/user/new_user')
      .register_button Register

.header_div
  .architekt_div
    a(href='/')
      h1#architekt_header _ARCHITEKT
  .text_header
    p#bs_text Welcome to our online portfolio. This website was created to reflect our skills as developers coming out of one of the nation's leading dev boot camps. Check us out by clicking our our names in the footer!
