extends ../layout.jade

block content
  .big_pic_container
    a(href='/gallery/4')
      img(src='#{main_pic.link}')
  .line_separator
    a(class ='create_a' href='/gallery/new')
      .create_button New Post

  .thumbnail_row_div
    each pic in pics
      .thumbnail
        a(href='/gallery/#{pic.id}')
          img(class='thumb_img' src='#{pic.link}')
        .thumbnail_desc
          p #{pic.description}
