include ./header.jade

form(method="POST", action="/gallery/#{pics.id}")
  div.input
    span.label Author
    input(name="author" value="#{pics.author}")
  div.input
    span.label Link
    input(name="link" value="#{pics.link}")
  div.input
    span.label Description
    input(name="description" value="#{pics.description}")
    input(type="hidden" name="_method" value="PUT")
  div.actions
    input(type="submit" value="Submit")