.footer_div
  .vince_div
    img(src='http://icons.iconarchive.com/icons/iconsmind/outline/512/Linkedin-icon.png')
  .matt_div
    img(src='http://icons.iconarchive.com/icons/iconsmind/outline/512/Linkedin-icon.png')
    img(src='http://www.freeiconspng.com/uploads/instagram-logo-3-477-4-1-year-ago-9.png')