<!DOCTYPE html>
html(lang="en")
  head
    link(href='/css/styles.css' rel='stylesheet')
    meta(charset="UTF-8")
    title _ARCHIKAT
  body
    .header_div
      .architekt_div
        a(href='/')
          h1#architekt_header _ARCHIKAT
      .text_header
        p#bs_text Welcome to our online portfolio. This website was created to reflect our skills as developers coming out of one of the nation's leading dev boot camps. We hope you enjoy. Feel free to reach out to us through our contact information at the bottom of the page.
