<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  h1 Gallery
  ul
    each pic in pics
      li Author: #{pic.author}
      li Link: #{pic.link}
      li Description: #{pic.description}
      li
