<!DOCTYPE html>
html(lang="en")
head
  link(href='/css/styles.css' rel='stylesheet')
  meta(charset="UTF-8")
  title _ARCHITEKT
body
include ./partials/header.jade
block content
include ./partials/footer.jade