extends ./layout

block content
  h1 Log In
    form(method="post" action="/login")
      input(type='text' name='username')
      input(type='password' name='password')
      button(type='submit') Log In