//- extends ./layout

//- block content
<!DOCTYPE html>
html(lang="en")
head
  link(href='/css/styles.css' rel='stylesheet')
  meta(charset="UTF-8")
  title Document
body

.form_container
  h1 _Log In
    form(method="post" action="/user/login")
      span.label Username
        input(type='text' name='username' placeholder="Username")
      span.label Password
        input(type='password' name='password' placeholder="Password")
      .actions
        input(type='submit' value="Log In")