<!DOCTYPE html>
html(lang="en")
  head
    link(href='/css/styles.css' rel='stylesheet')
    meta(charset="UTF-8")
    title _MATT
  body
    .header_div
      .architekt_div
        a(href='/')
          h1#architekt_header _MATT
      .text_header
        p#bs_text “Distinguish yourself honorably” -John Olsen

    .single_pic_container
      .single_pic_div
        img(src='http://i.imgur.com/n1rK66L.jpg')
        p#bio_head BIO:
        p.bio_desc I am a Full-Stack JavaScript Developer from Orange County, California. I have always had a passion for technology and how things work. I enjoy working with a motivated team to develop powerful web applications that look great and have astoinishing functionality. My ultimate goal is to unify my passions into a career. Programming in the surf industry is my ideal “next step”.
        p.bio_desc
        p#contact_head Contact Info:
          ul.contact_desc
            li
              a(href='https://github.com/devMattO') Github

            li
              a(href='https://www.linkedin.com/in/matthew-olsen-99b36152') LinkedIn

            address
              a(href='mailto:olsen_matthew@yahoo.com') Email


      .sidebar_div
        a(href='http://i.imgur.com/IYPBkEK.jpg')
          img(src='http://i.imgur.com/IYPBkEK.jpg')
        a(href='http://i.imgur.com/uhUKk7C.png')
          img(src='http://i.imgur.com/uhUKk7C.png')
        a(href='http://i.imgur.com/EbYuWFU.jpg')
          img(src='http://i.imgur.com/EbYuWFU.jpg')
        a(href='http://i.imgur.com/c4d1Sqi.png')
          img(src='http://i.imgur.com/c4d1Sqi.png')

