<!DOCTYPE html>
html(lang="en")
  head
    link(href='/css/styles.css' rel='stylesheet')
    meta(charset="UTF-8")
    title _Matt
  body
    .header_div
      .architekt_div
        a(href='/')
          h1#architekt_header _MATT
      .text_header
        p#bs_text Welcome to our online portfolio. This website was created to reflect our skills as developers coming out of one of the nation's leading dev boot camps. We hope you enjoy. Feel free to reach out to us through our contact information at the bottom of the page.

    .single_pic_container
      .single_pic_div
        img(src='http://i.imgur.com/n1rK66L.jpg')
      .sidebar_div
        a(href='http://i.imgur.com/IYPBkEK.jpg')
          img(src='http://i.imgur.com/IYPBkEK.jpg')
        a(href='http://i.imgur.com/uhUKk7C.png')
          img(src='http://i.imgur.com/uhUKk7C.png')
        a(href='http://i.imgur.com/EbYuWFU.jpg')
          img(src='http://i.imgur.com/EbYuWFU.jpg')
        a(href='http://i.imgur.com/c4d1Sqi.png')
          img(src='http://i.imgur.com/c4d1Sqi.png')

