<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Add New Picture
  body
    h1 Add New Picture, yo!
    form(method="POST", action="/gallery")
      div.input
        span.label Author
        input(type="text", name="author", placeholder="You")
      div.input
        span.label Link
        input(type="text", name="link", placeholder="www.google.com")
      div.input
        span.label Description
        input(type="text", name="description", placeholder="Describe the picture!")
      div.actions
        input(type="submit", value="Submit")