<!DOCTYPE html>
html(lang="en")
  head
    link(href='/css/styles.css' rel='stylesheet')
    meta(charset="UTF-8")
    title _Vince
  body
    .header_div
      .architekt_div
        a(href='/')
          h1#architekt_header _VINCE
      .text_header
        p#bs_text "Don't worry. Even Neo didn't make the first jump" -Vincent Newkirk
    .single_pic_container
      .single_pic_div
        img(src='http://i.imgur.com/3mshUDB.jpg')
        p#bio_head BIO:
        p.bio_desc I was born and raised on the island of Oahu, Hawaii. In October of 2015 I became a proud father to my pride and joy, Sarah! She gave me the motivation to pursue my dream as a web-developer which led me to joining one of the nation's leading dev boot-camps; Devleauge! Creating and designing powerful websites is the most fun and fulfilling work I have ever done. I love meeting new people so please feel free to reach out to me if you want to talk shop or just chat!
        p#contact_head Contact Info:
          ul.contact_desc
            a(href='https://github.com/VincentNewkirk') Github,

            a(href='https://www.linkedin.com/in/vincent-newkirk-2052a236') LinkedIn,

            address
              a(href='vincentnewkirk@gmail.com') Email


      .sidebar_div
        a(href='https://scontent.xx.fbcdn.net/v/t1.0-9/13512040_10154332867872915_2238795663362073140_n.jpg?oh=e66ee084cb541b060ea8dcf3ecdb31b3&oe=58206856')
          img(src='https://scontent.xx.fbcdn.net/v/t1.0-9/13512040_10154332867872915_2238795663362073140_n.jpg?oh=e66ee084cb541b060ea8dcf3ecdb31b3&oe=58206856')
        a(href='https://scontent.xx.fbcdn.net/v/t1.0-9/12821511_10154030913227915_6823933793938698079_n.jpg?oh=fe8353b23cc0d20d8260284bd82d9a7e&oe=5827BD71')
          img(src='https://scontent.xx.fbcdn.net/v/t1.0-9/12821511_10154030913227915_6823933793938698079_n.jpg?oh=fe8353b23cc0d20d8260284bd82d9a7e&oe=5827BD71')
        a(href='http://i.imgur.com/SmE37MA.jpg')
          img(src='http://i.imgur.com/SmE37MA.jpg')
        a(href='http://i.imgur.com/G1krGGu.jpg')
          img(src='http://i.imgur.com/G1krGGu.jpg')